<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4" layout-fill>
    <md-toolbar class="md-theme-indigo">
        <select name="select" class="select-module" ng-model="user_module" ng-click="setModule(user_module)">
            <option ng-repeat="mod in modulesList" value="{{mod.m}}">
                {{mod.ms}}
            </option> 
        </select>
    </md-toolbar>
    <md-content ng-if="user_module != 'admin'">
        <md-list class="md-dense" flex>
            <md-subheader class="md-no-sticky">Selecciona una noticia para editar
                <br> O
                <a href="" ng-click="articleNew()" title="create" class="button-new">crea un articulo nuevo</a>
            </md-subheader>
            <md-progress-circular ng-if="loadingMenu" md-mode="indeterminate" md-diameter="70px"></md-progress-circular>
            <section ng-if="!loadingMenu" ng-repeat="new in newsTotal">
                <md-list-item class="md-2-line" ng-click="notice(new, $index)">
                    <img src="/imgs/LogoUA.svg" class="md-avatar" alt="imagen de artículo" />
                    <div class="md-list-item-text">
                        <h3>{{new.subject}}</h3>
                        <p>{{new.detail}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </section>
    </md-content>

    <md-content ng-if="user_module == 'admin'">
        <md-list class="md-dense" flex>
            <md-progress-circular ng-if="loadingMenu" md-mode="indeterminate" md-diameter="70px"></md-progress-circular>
            <section ng-if="!loadingMenu" ng-repeat="us in users">
                <md-list-item class="md-2-line" ng-if="us.email != user.email" ng-click="userDetail(us)">
                    <img src="/imgs/LogoUA.svg" class="md-avatar"/>
                    <div class="md-list-item-text">
                        <h3>{{us.name}} {{us.lastname}}</h3>
                        <section ng-repeat="mod in us.modulesSee track by $index">
                            <p ng-if="mod != undefined">{{mod.mod_spa}}</p>
                        </section>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </section>
    </md-content>
</md-sidenav>
