<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4" layout-fill>
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" ng-if="user.module == 'wellness'">Bienestar Universitario</h1>
        <h1 class="md-toolbar-tools" ng-if="user.module == 'news'">Noticias Generales</h1>
        <h1 class="md-toolbar-tools" ng-if="user.module == 'youth'">Extensión social</h1>
        <h1 class="md-toolbar-tools" ng-if="user.module == 'education'">Educación continuada</h1>
        <h1 class="md-toolbar-tools" ng-if="user.module == 'radio'">Radio</h1>
        <h1 class="md-toolbar-tools" ng-if="user.module == 'event'">Eventos Generales</h1>
        <h1 class="md-toolbar-tools" ng-if="user.module == 'agreement'">Convenios</h1>
        <h1 class="md-toolbar-tools" ng-if="user.module == 'graduate'">Graduados</h1>

        <h1 class="md-toolbar-tools" ng-if="user.module == 'admin'">Administrador</h1>
    </md-toolbar>
    <md-content ng-if="user.module != 'admin'">
        <md-list class="md-dense" flex>
            <md-subheader class="md-no-sticky">Selecciona una noticia para editar
                <br> O
                <a href="" ng-click="articleNew()" title="create" class="button-new">crea un articulo nuevo</a>
            </md-subheader>
            <md-progress-circular ng-if="loadingMenu" md-mode="indeterminate" md-diameter="70px"></md-progress-circular>
            <section ng-if="!loadingMenu" ng-repeat="new in newsTotal">
                <md-list-item class="md-2-line" ng-click="notice(new, $index)">
                    <img src="/imgs/LogoUA.svg" class="md-avatar" alt="imagen de artículo" />
                    <div class="md-list-item-text">
                        <h3>{{new.subject}}</h3>
                        <p>{{new.detail}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </section>
    </md-content>

    <md-content ng-if="user.module == 'admin'">
        <md-list class="md-dense" flex>
            <md-progress-circular ng-if="loadingMenu" md-mode="indeterminate" md-diameter="70px"></md-progress-circular>
            <section ng-if="!loadingMenu" ng-repeat="us in users">
                <md-list-item class="md-2-line" ng-if="us.module != 'admin'" ng-click="userDetail(us)">
                    <img src="/imgs/LogoUA.svg" class="md-avatar"/>
                    <div class="md-list-item-text">
                        <h3>{{us.name}} {{us.lastname}}</h3>
                        <p ng-if="us.module == 'news'">Noticias generales</p>
                        <p ng-if="us.module == 'wellness'">Bienes universitario</p>
                        <p ng-if="us.module == 'youth'">Extensión social</p>
                        <p ng-if="us.module == 'radio'">Radio</p>
                        <p ng-if="us.module == 'event'">Eventos generales</p>
                        <p ng-if="us.module == 'education'">Educación continuada</p>
                        <p ng-if="us.module == 'agreement'">Convenios</p>
                        <p ng-if="us.module == 'graduate'">Graduados</p>

                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </section>
    </md-content>
</md-sidenav>
